body {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 5%;
    margin-right: 5%;
    color: #2e2e2e;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.2rem;
}


.logo > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}


nav ul {
   display: flex;
   margin-left: auto;
   margin-right: auto;
   list-style: none;
   text-align: center; 
   background-color: cadetblue;
   justify-content: space-evenly;
   align-items: center;
   border-radius: 5px;  
   width: 90%;
}

nav li {
    margin: 20px 0px 20px 0px;
    padding: 10px 30px 10px 30px;
    list-style: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    flex:1;
    align-items: center;
    background-color: #f5f5f5;
    margin: 10px 10px 25px 10px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;

}

.promo {
    background-image: url("assets/succulent.png");
    text-shadow: 1px 1px #ece2e2;
}

.promo:hover{
    transform: scale(105%);
    
}

a {
    text-decoration: none;
    color: white;

}

a:hover{
    color: rgb(129, 255, 129);


}

a:focus{
    transform: scale(100);
}

article p {
    text-align: left;
}

footer{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: cadetblue;
    border-radius: 5px;  
    width: 90%;
    padding: 10px 20px 10px 20px;
}

footer div {
    flex: 1;
    text-align: right;
    color: white;
}

footer .sm-logo {
    padding-left: 10px;
    flex: 1;
    text-align: left;
    color: white;
}

footer p {
    font-size: .7rem;
}


.img-card img{
    width: 80%;
    text-align: center;
    border-radius: 5px;
}

